body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  align-self: stretch;
  flex: 1 100%;
  text-align: center;
}

#stage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 100%;
}

.avatars, 
.battlefields {
  width: 100px;
  height: 100px,
}